li a {
    color: green;
}

.navbar-brand a{
    font-family: 'Titillium Web', sans-serif;
}

.jumbotron{
  margin-bottom:0px;
  padding-top:56px;
  background-image: url("/static/img/kokkai.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron .container{
    font-family: 'Titillium Web', sans-serif;
    padding-top:30px;
}

img{
    padding-left:50px;
    padding-right:50px;
}
