{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href = "{% static 'base.css' %}">
    <!-- bootstrap-datepickerを読み込む -->
    <link rel="stylesheet" type="text/css" href="{% static 'datepicker/css/bootstrap-datepicker.min.css'%}">
    <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.ja.min.js'%}"></script>
    <!-- bootstrap-materialを読み込む-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>

<body>
    <header>
        {% block alert %}
        {% endblock %}
        {% include 'base/navbar.html' %}
    </header>
    <main role="main">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>