{% extends "base/base.html" %}
{% block content %}
<form action="{% url 'accounts:login' %}?next={{ request.path }}" method="POST">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h4>ログイン画面</h4>
            </div>
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
