{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    パブリックコメント
{% endblock %}

{% block alert %}
{% if message %}
  <div class="alert alert-primary m-0" role="alert"><strong>{{message}}</strong>{{sub_message}}</div>
{% endif %}
{% endblock %}

{% block header_content %}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Public Comment</h1>
    <p class="lead">A system for crawling, storing, searching, and distributing public comments.</p>
  </div>
</div><!-- /.jumbotron -->


<div class="container">
<h1 class="text-center">Feature</h1><hr/>
<div class="card-deck">
  <div class="card mx-10">
    <img class="card-img-top" src="{% static "img/search.svg" %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Search</h4>
      <p class="card-text">Search from the accumulated data.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
  <div class="mr-8">
    <img class="card-img-top px-10px" src="{% static "img/mail.svg" %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Mail</h4>
      <p class="card-text">It can be delivered by email or slack.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static "img/account.svg" %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Account</h4>
      <p class="card-text">Settings for each account.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
</div>

{{ form.fullname}}
{{ form.subject}}
{% endblock %}
      
