{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    パブリックコメント
{% endblock %}

{% block alert %}
{% if message %}
  <div class="alert alert-primary m-0" role="alert"><strong>{{message}}</strong>{{sub_message}}</div>
{% endif %}
{% endblock %}

{% block content %}

<div class="container marketing">
  <div class="row">
    <div class="card col-sm-12 mt-3">
      <table class="table">
          <thead class="black white-text">
            <tr>
              <th scope="col"><h5 class="text-center">最新情報({{date}})</h5></th>
            </tr>
          </thead>
          <tbody>
            {%for p in result%}
            <tr>
              <th scope="row">
                <a href="https://search.e-gov.go.jp/servlet/{{p.url}}">
                  {{p}}
                </a>
              </th>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    
        
    <div class="col-sm-6 mt-5">
      <a class="card" href="{% url 'search:detail'%}">
          <div class="card-header">
              <h4>キーワード検索</h4>
          </div>
          <div class="card-body">
            <p class="card-text">キーワードから検索を行うことができます。</p>
          </div>
      </a>
    </div>
    <div class="col-sm-6 mt-5">
        <a class="card" href="{% url 'search:agency'%}">
            <div class="card-header">
                <h4>省庁から検索</h4>
            </div>
            <div class="card-body">
              <p class="card-text">省庁から検索を行うことができます。</p>
            </div>
        </a>
      </div>
  </div>
</div>
{% endblock %}
      